header nav {
  display: flex;
  flex-direction: column;
  align-items: center; }

header a {
  color: #ddd !important; }

body {
  background-image: url("../imagenes/3254309.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 320px) {
  header img {
    width: 100%; } }

.carousel {
  display: flex;
  justify-items: center;
  position: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  height: 300px;
  width: 100%;
  position: relative; }
  .carousel img {
    height: 300px; }

@media (max-width: 660px) {
  .carousel {
    height: 200px; }
    .carousel img {
      height: 200px; } }

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0 20px; }

.card-container {
  display: flex;
  width: 600px;
  height: auto;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2); }
  .card-container img {
    width: 50%;
    height: 300px;
    position: relative;
    display: block; }

.card__texto {
  background: #fbfbfb;
  border-left: 1px solid #ddd; }

.card__imag1, .card__texto {
  padding: 20px;
  text-align: center; }

@media (max-width: 860px) {
  .card-container {
    width: 100%; }
    .card-container h3 {
      width: 100%; }
    .card-container p {
      width: 100%; }
  .card-container {
    display: block;
    width: 100%; }
    .card-container img {
      margin: auto;
      height: 200px; } }

.contenedorp {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

.titulo {
  color: #403b3b;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px; }

.portafolio {
  background: #f2f2f2; }

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.imagen-port {
  width: 30%;
  height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background: #2424a9;
  transition: transform .9s; }

.imagen-port img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.servicios {
  margin: auto; }

.contenedor {
  padding: 50px; }
  .contenedor img {
    padding: 10px;
    margin: 10px; }

@media (max-width: 800px) {
  .contenedor {
    width: 100%; } }

.modernizacion img {
  margin: 10px; }

div .card__imag2 {
  width: 500px;
  height: 300px; }

div .card1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%; }

div p {
  width: 500px;
  font-size: 15px;
  margin: 5px; }

.contactanos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 1px 10px 10px 20px; }

@media screen and (max-width: 400px) {
  .contactanos {
    grid-template-columns: 2fr; } }

.margen {
  width: 500px; }

input[type=text], select, textarea {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; }

label {
  padding: 1;
  display: inline-block; }

input[type=submit] {
  background-color: #565856;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; }

.container {
  border-radius: 5px;
  padding: 20px; }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px; }

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.contenedor1 {
  display: flex;
  justify-content: center;
  padding: 20px; }
  .contenedor1 .card .mision {
    width: 500px;
    padding: 20px;
    position: relative;
    text-align: justify;
    left: 35%; }

.vision {
  width: 500px;
  padding: 20px;
  position: relative;
  text-align: justify;
  left: 35%; }

@media (max-width: 600px) {
  .contenedor1 p {
    width: 100%; } }

footer {
  background-image: linear-gradient(to left, black, grey);
  position: relative;
  line-height: 175%;
  width: 100%; }
  footer .sig {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer a {
    padding: 5px; }
